@import '~mand-mobile/components/_style/global'
@import '~mand-mobile/components/_style/mixin/util'
@import '~mand-mobile/components/_style/mixin/theme'
// 覆盖样式变量
color-primary = #409EFF
color-text-highlight = #409EFF
//color-bg-tap-highlight = rgba(252, 145, 83, .08)
// 键盘确定按钮active
number-keyboard-key-confirm-bg-tap = #3a8ee6
